* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px 50px;
    font-family: 'Lexend';
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;

}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.center{
    align-items: center;
    justify-content: center;
}

.left{
    justify-content: left;
}